* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #fff891;
}

h1 {
  text-align: center;
  padding-top: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 600px;
  height: 600px;
  margin: 2rem auto;
  background-color: #aeaeff;
}

.item {
  border: 1px solid #0000003d;
  transition: 0.2s;
}

.item.active {
  background-color: #df6973;
}

.reset-btn {
  border: 3px solid #000;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
  box-shadow: 5px 5px 0 #000;
  transition: 0.2s;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

footer a {
  color: #5858ee;
  text-decoration: none;
  font-weight: bold;
}
